* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* START: HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  height: 100px;
}

#logo {
  margin: 20px;
  width: 150px;
  cursor: pointer;
}

#menu {
  height: 100%;
}

.menu-item {
  float: left;
  width: 150px;
  height: 100%;
  border-left: 1px solid #444;
}

.menu-item a {
  width: 150px;
  height: 100%;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.menu-item a i {
  font-size: 20px;
}

.menu-item a:hover {
  background-color: #303030;
  color: lightblue;
}

#menu-toggle {
  display: none;
  float: right;
  font-size: 30px;
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
}

#menu-toggle:hover {
  color: #416d9d;
}

/* END: HEADER */
body {
  color: #3d3d3d;
  scroll-behavior: smooth;
}

.stop_Scroll {
  overflow: hidden;
}

.body_content {
  display: block;
}

.blur {
  filter: blur(10px);
}

.heading {
  color: white;
}

.link {
  cursor: pointer;
  color: white;
}
.link:hover {
  color: red;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
  margin: 20px;
}

.dialogue {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6d6d6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  z-index: 999;
  display: none;
}
.dialogue h1 {
  margin: 15px;
}
.dialogue p {
  margin: 15px;
}
.dialogue .dialogue_btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.dialogue .close {
  position: absolute;
  right: 0;
  top: 0;
  border-style: none;
  background-color: transparent;
  padding: 18px;
  color: white;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_1 {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 50px;
}

.title_desc {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 2;
  line-height: 30px;
}
.title_desc i {
  margin-left: 10px;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.navbar .ham_burger {
  display: none;
}
.navbar .navitems {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 4;
  height: 18vh;
  grid-column: 3/-1;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 2;
}
.navbar .logo img {
  width: 60px;
  height: 80px;
}
.navbar h2 {
  margin-left: 20px;
  color: #6d6d6d;
  letter-spacing: 5px;
}
.navbar ul,
.navbar li,
.navbar a {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #6d6d6d;
}
.navbar ul:hover,
.navbar li:hover,
.navbar a:hover {
  color: red;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
.navbar ul:active,
.navbar li:active,
.navbar a:active {
  color: red;
}
.navbar ul .active,
.navbar li .active,
.navbar a .active {
  color: red;
}

.content_wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 10px;
  min-height: 82vh !important;
}
.content_wrapper .form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 270px;
  background: rgba(251, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 260px;
  color: #6d6d6d;
  flex: 1.5;
}
.content_wrapper .form_container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
.content_wrapper .form_container .form_head {
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.content_wrapper .form_container p {
  color: #6d6d6d;
  margin: 5px;
  text-align: left;
  font-size: 12px;
}
.content_wrapper .form_container p span {
  color: red;
  cursor: pointer;
}
.content_wrapper .form_container p span .privacy_policy {
  color: green;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  background: rgba(251, 255, 255, 0.3);
}
.footer p {
  color: #6d6d6d;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.text_box {
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.btn {
  padding: 5px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #6d6d6d;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.big-btn {
  padding: 15px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #6d6d6d;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
}
.big-btn:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.filter-green {
  filter: invert(40%) sepia(0%) saturate(0%) brightness(118%) contrast(119%);
}

.about {
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image_container img {
  height: 267px;
  width: 400px;
}

.platforms {
  background-color: #6d6d6d;
  min-height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.platforms h1 {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.platforms .platform {
  padding: 25px;
  text-align: center;
  line-height: 25px;
}
.platforms .platform h2 {
  margin: 20px;
}
.platforms .categories {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.platforms .small_logo {
  margin: 10px;
  font-size: 30px;
}

.contactus {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 50px;
}
.contactus h1 {
  margin-top: 10px;
  margin-bottom: 50px;
}
.contactus .contact_outer_wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.contactus .contact_outer_wrapper .git {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 3;
}
.contactus .contact_outer_wrapper .git .contact_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.contactus .contact_outer_wrapper .gitform {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex: 1;
}
.contactus .contact_outer_wrapper .gitform .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactus .contact_outer_wrapper .gitform .form .btn {
  margin-top: 10px;
  width: 100%;
}

.textArea {
  border: none;
  outline: none;
  width: 250px;
  padding: 10px;
}

.text_box_c {
  width: 100%;
  margin: 10px;
  outline: none;
  border: none;
  padding: 10px;
}

.active {
  color: #cd5c5c;
}

.user_groups {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.user_groups .btn {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.activeUser {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.spaces > * {
  margin: 20px;
}

.spaces {
  background-color: #6d6d6d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spaces .spaceWrapper {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.spaces .space > * {
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
}
.spaces .space {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  margin: 5px;
  border-radius: 8px;
}
.spaces .space .btn {
  border: 1px solid white;
  padding: 10px 30px;
  margin: 20px;
}
.spaces .space .btn:hover {
  background-color: white;
  color: #6d6d6d;
}
.spaces .imageWrapper {
  height: 300px;
  width: 200px;
  overflow: hidden;
}
.spaces .imageWrapper img {
  height: 300px;
}

.width_wrapper {
  width: 85%;
  margin: auto;
}
.width_wrapper .heading {
  margin: 50px;
}

.btn_new {
  padding: 10px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #6d6d6d;
  margin: 10px;
}
.btn_new:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.space_listing {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto;
}
.space_listing .single_space {
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  width: 320px;
  padding: 4%;
  margin-bottom: 40px;
}
.space_listing .single_space .detail_margin {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.space_listing .image {
  height: 200px;
  width: 200px;
}
.space_listing .image img {
  width: 200px;
  height: 200px;
}

.gmaps {
  color: red;
  cursor: pointer;
}

.space_info {
  min-height: 82vh;
  height: 221px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.space_info p {
  font-size: 1.5rem;
  text-align: center;
}
.space_info .space_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(198, 198, 198);
}
.space_info .space_image img {
  height: 400px;
  width: 400px;
}
.space_info .space_image .nav_btn {
  position: absolute;
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.space_info .space_image .nav_btn:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
.space_info .space_image .nav_left {
  left: 5;
}
.space_info .space_image .nav_right {
  right: 5;
}
.space_info .space_detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
}
.space_info .detail_margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.space_info .space_title {
  font-size: 2.5rem;
  text-align: center;
}
.space_info .extra_pad {
  font-size: 1.1rem;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.space_info .desc {
  margin-top: 25px;
  margin-bottom: 25px;
}

.register {
  background-color: #f5f5f5;
}

.reg_form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.reg_form .user_groups {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.reg_form .user_groups .btn {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.reg_form .reg_form_space_owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.reg_form .reg_form_space_owner .btn {
  padding: 10px 20px 10px 20px;
}
.reg_form .reg_form_space_owner input {
  border: 0.5px solid gray;
}
.reg_form .reg_form_space_owner > h2 {
  text-align: center;
  margin: 20px;
}

.navbar {
  font-size: 18px;
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
.nav-links:hover {
    color: rgb(255, 255, 255);
  }
}
.owner_dashboard {
  width: 80%;
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tiles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  border-radius: 8px;
  min-height: 500px;
  min-width: 300px;
  border: 2px solid white;
  margin: 25px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.priv_policy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: green;
  height: 300px;
  width: 600px;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6d6d6d;
  color: white;
}

.dil_btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.logout {
  padding: 20px 40px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
}
.logout:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.form_head2 {
  text-align: center;
  margin-bottom: 20px;
}

.link {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */