* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #3d3d3d;
  scroll-behavior: smooth;
}

.stop_Scroll {
  overflow: hidden;
}

.body_content {
  display: block;
}

.blur {
  filter: blur(10px);
}

.dialogue {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6d6d6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  z-index: 999;
  display: none;
}
.dialogue h1 {
  margin-bottom: 30px;
}
.dialogue p {
  margin-bottom: 30px;
}
.dialogue .dialogue_btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.dialogue .close {
  position: absolute;
  right: 0;
  top: 0;
  border-style: none;
  background-color: transparent;
  padding: 18px;
  color: white;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_1 {
  background-color: #F5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 50px;
}

.title_desc {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 2;
  line-height: 30px;
}
.title_desc i {
  margin-left: 10px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.navbar h2 {
  margin-left: 20px;
  color: #6d6d6d;
  letter-spacing: 5px;
}
.navbar ul,
.navbar li,
.navbar a {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #6d6d6d;
}
.navbar ul:hover,
.navbar li:hover,
.navbar a:hover {
  color: red;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
.navbar ul:active,
.navbar li:active,
.navbar a:active {
  color: red;
}
.navbar ul .active,
.navbar li .active,
.navbar a .active {
  color: red;
}
.navbar .navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 4;
  height: 18vh;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 2;
}
.navbar .logo img {
  width: 60px;
  height: 80px;
}

.content_wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 10px;
  min-height: 82vh !important;
}
.content_wrapper .form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 270px;
  background: rgba(251, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 260px;
  color: #6d6d6d;
  flex: 1.5;
}
.content_wrapper .form_container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
.content_wrapper .form_container .form_head {
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.content_wrapper .form_container p {
  color: #6d6d6d;
  margin: 5px;
  text-align: left;
  font-size: 12px;
}
.content_wrapper .form_container p span {
  color: red;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  color: white;
  background: rgba(251, 255, 255, 0.3);
}
.footer p {
  color: #6d6d6d;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.text_box {
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.btn {
  padding: 5px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #6d6d6d;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.big-btn {
  padding: 15px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #6d6d6d;
  margin-top: 15px;
  margin-bottom: 15px;
}
.big-btn:hover {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.filter-green {
  filter: invert(40%) sepia(0%) saturate(0%) brightness(118%) contrast(119%);
}

.about {
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image_container img {
  height: 267px;
  width: 400px;
}

.platforms {
  background-color: #6d6d6d;
  min-height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.platforms h1 {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.platforms .platform {
  padding: 25px;
  text-align: center;
  line-height: 25px;
}
.platforms .platform h2 {
  margin: 20px;
}
.platforms .categories {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.platforms .small_logo {
  margin: 10px;
  font-size: 30px;
}

.contactus {
  background-color: #F5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 50px;
}
.contactus h1 {
  margin-top: 10px;
  margin-bottom: 50px;
}
.contactus .contact_outer_wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.contactus .contact_outer_wrapper .git {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 3;
}
.contactus .contact_outer_wrapper .git .contact_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.contactus .contact_outer_wrapper .gitform {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex: 1;
}
.contactus .contact_outer_wrapper .gitform .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactus .contact_outer_wrapper .gitform .form .btn {
  margin-top: 10px;
  width: 100%;
}

.textArea {
  border: none;
  outline: none;
  width: 250px;
  padding: 10px;
}

.text_box_c {
  width: 100%;
  margin: 10px;
  outline: none;
  border: none;
  padding: 10px;
}

.active {
  color: #CD5C5C;
}

.user_groups {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.user_groups .btn {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.activeUser {
  background-color: #6d6d6d;
  color: white;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.spaces {
  background-color: #6d6d6d;
  width: 100%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.spaces .spaceWrapper {
  margin: 40px;
  gap: 15px;
  width: 90%;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.spaces .space {
  background-color: green;
}
.spaces .imageWrapper {
  height: 300px;
  width: 200px;
  overflow: hidden;
}
.spaces .imageWrapper img {
  height: 300px;
}/*# sourceMappingURL=main.css.map */